
.prof-friends {
  display: flex;
  flex-wrap: wrap;
}

.prof-friends > li {
  display: inline-block;
  width: 30%;
}

.thumb:hover {
  display: block;
}

.prof-friends img {
  border: 1px solid black;
}